<!--Main Header -->
<h1 class="name"> Mingming Caressi </h1> <br>


<!--Site links-->
<nav class="links">
    <a href="index.html">About</a> |
    <a href="portfolio.html">Portfolio</a> |
    <a href="contact.html">Contact</a>
</nav>