/* CSS File for Portfolio */

/* body, html {
    height: 100%;
} */

body {
    background-image: url("assets/images/bg.png");
    background-color: #eeee;
    background-repeat: repeat;
    /* height: 100%;  */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
 }


h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.header {
    box-sizing: border-box;
    height: 90px;
    background: white;
}

#name {
    color: white;
    text-align: center;
    box-sizing: border-box;
    height: 90px; 
    width: 350px; 
    padding: 25px;
    background: #4aaaa5;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}


