/* CSS File for Portfolio */

html {
    background-image: url("../images/bg.png");
    background-color: #eeee;
    background-repeat: round;
}

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 32px;
    font-weight: bold; 
}

.top {
    box-sizing: border-box;
    height: 90px;
    background: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #cccccc;
}


.name {
    box-sizing: border-box;
    position: absolute;
    height: 88px; 
    width: 350px; 
    padding: 25px;
    left: 220px;
    text-align: center;
    color: #ffffff;
    background: #4aaaa5;
}

.links {
    position: absolute;
    right: 220px;
    top: 35px;
}

a {
    text-decoration: none; 
    color: #777777;
}

a:hover {
    text-decoration: underline; 
}

p, a {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777; 
}


.sectionHeader {
    color: #4aaaa5;
}

.content {
    margin: auto;
    margin-top: 135px;
    width: 960px;
    background-color: #ffffff;
}

#bodyText {
    font-size: 16px;
    letter-spacing: 1.5;
}