/* CSS File for Portfolio */

html {
    background-color: #ffffff;
    background-repeat: repeat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


body {
    margin: 50px;
    align-content: center;
}

h1 {
    font-size: 32px;
    font-weight: bold; 
}

.title {
    color: teal;
    font-weight: bold;
    width: 75%;
}

#name {
    /* font-family: 'Coming Soon', cursive; */
    /* font-family: 'Delius', cursive; */
    font-family: 'Delius Unicase', cursive;
    font-size: 40px;
}

.column {
    margin: 5px;
}

#body-text {
    font-size: 20px;
    line-height: 30px; 
}

.portfolio-title {
    width: 90%;
    text-align: center;
}

.tech {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}