

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

#name {
    color: white;
    text-align: center;
    box-sizing: border-box;
    height: 90px; 
    width: 350px; 
    padding: 25px;
    background: #4aaaa5;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}

body {
    background-image: url("assets/images/what-the-hex-dark.png");
    background-color: #cccccc;
 }
