/* CSS File for Portfolio */

/* body, html {
    height: 100%;
} */

body {
    background-image: url("assets/images/bg.png");
    background-color: #eeee;
    background-repeat: repeat;
    /* height: 100%;  */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
 }


h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 32px;
    font-weight: bold; 
}

header {
    box-sizing: border-box;
    height: 90px;
    background: white;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #cccccc;
}

.name {
    box-sizing: border-box;
    position: absolute;
    height: 88px; 
    width: 350px; 
    padding: 25px;
    left: 220px;
    text-align: center;
    color: white;
    background: #4aaaa5;
}

.links {
    position: absolute;
    right: 220px;
    top: 35px;
}

a {
    text-decoration: none; 
    color: #777777;
}

a:hover {
    text-decoration: underline; 
}

p, a {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777; 
}


.sectionHeader {
    color: #4aaaa5;
}

