/* CSS File for Portfolio */

html {
    background-color: #eeee;
    background-repeat: repeat;
}

body {
    margin: 50px;
    align-content: center;
    font: 'Lora';
    font-family: 'Lora', serif;
}

h1 {
    font-family: 'Georgia', Times, Times, serif;
    font-size: 32px;
    font-weight: bold; 
}

.column {
    margin: 5px;
}

#body-text {
    font-size: 20px;
    line-height: 30px; 
}

.portfolio-title {
    width: 90%;
    text-align: center;
}


/* .top {
    /* box-sizing: border-box;
    height: 90px; */
    /* background: #ffffff; */
    /* border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #cccccc; 
    }*/


/* .title {
    box-sizing: border-box; */
    /* position: absolute; */
    /* height: 88px; 
    width: 500px; 
    padding: 25px; */
    /* left: 445px; */
    /* text-align: center; */
    /* color: #ffffff;
    background: #4aaaa5; */
/* } */

/* .links {
    position: fixed;
    right: 445px;
    top: 35px;
} */

/* a {
    text-decoration: none; 
    color: #777777;
}

a:hover {
    text-decoration: underline; 
}

p, a {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777; 
} */

/* 
.sectionHeader {
    color: #4aaaa5; */
    /* padding-left: 35px; */
/* } */

/* .content {
    clear: both;
    overflow: auto;
    margin: auto;
    margin-top: 50px;
    width: 960px; */
    /* padding: 50px 35px 50px 35px; */
    /* background-color: #ffffff;
} */
/* 
.portrait {
    float: left; 
    padding-right: 25px ; 
}

hr {
    width: 900px;
    height: 2px;
    border-color: #dddddd;
} */



/* .img-responsive {
    position: relative;
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  } */

/* .project-name {
    position: absolute;
    bottom: 20px;
    width: 90%;
    padding: 15px;
    margin-bottom: 0;
    font-size: 25px;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;  
}

span {
    font-size: 25px;
    color: #ffffff;
    background-color: #4aaaa5;
    height: 50px; 
    width: 240px;
}

.footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:60px;
    width:100%;
    padding-top: 40px;
    background: #666666;
    border-top-color: #4aaaa5;
    border-top-style: solid;
    border-top-width: 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #dddddd;
    text-align: center;
 }

 form {
    padding-left: 35px;
    padding-top: 30px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 20px;
    color: #777777; 
 }

 .form-entry {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 880px;
 }

 #message {
    height: 170px;
 }

 #submit-button {
    height: 35px;
    width: 100px;
    color: #ffffff;
    background-color:#4aaaa5;
 } */