/* CSS File for Portfolio */

html {
    background-image: url("../images/bg.png");
    background-color: #eeee;
    background-repeat: repeat;
}

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 32px;
    font-weight: bold; 
}

.top {
    box-sizing: border-box;
    height: 90px;
    background: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #cccccc;
}


.name {
    box-sizing: border-box;
    position: absolute;
    height: 88px; 
    width: 350px; 
    padding: 25px;
    left: 220px;
    text-align: center;
    color: #ffffff;
    background: #4aaaa5;
}

.links {
    position: absolute;
    right: 220px;
    top: 35px;
}

a {
    text-decoration: none; 
    color: #777777;
}

a:hover {
    text-decoration: underline; 
}

p, a {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777; 
}


.sectionHeader {
    color: #4aaaa5;
    padding-left: 35px;
}

.content {
    clear: both;
    overflow: auto;
    margin: auto;
    margin-top: 50px;
    width: 960px;
    padding: 50px 35px 50px 35px;
    background-color: #ffffff;
}

.portrait {
    float: left; 
    padding-right: 25px ; 
}

hr {
    width: 900px;
    height: 2px;
    border-color: #dddddd;
}

#bodyText {
    font: Helvetica;
    font-size: 20px;
    line-height: 30px;
    padding: 35px;
}

.row {
    padding: 30px; 
}

.portfolio-img {
    height: 180px; 
}

span {
    font-size: 25px;
    color: #ffffff;
    background-color: #4aaaa5;
    height: 50px; 
    width: 240px;
}

.footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:60px;
    width:100%;
    padding-top: 40px;
    background: #666666;
    border-top-color: #4aaaa5;
    border-top-style: solid;
    border-top-width: 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #dddddd;
    text-align: center;
 }

 form {
     font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
     font-size: 20px;
     color: #777777; 

 }